@charset "UTF-8";

body{
    background: url('../images/bg-intro-desktop.png')  no-repeat;
    
    background-color: rgba(255, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

section{
    display: inline;
    float: left;
    width: 500px;
    margin: 150px 0px 0px 140px; 
}

section h1{
    font-size: 40px;
    font-weight: 700;
}


aside{

    width: 550px;
    float: right;
    margin-right: 95px;
    margin-top: 50px;
}

button#botao{
    font-weight: 700;
    background: #5d54a3;
    box-shadow: 0px 5px 0px rgba(255, 0, 0,.3);
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

label#sn{
    font-weight: normal;
}

aside article{
    background: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 5px 0px rgba(255, 0, 0,.3);
}

aside article p{
    padding: 10px 0px 5px 10px;
    margin: 0;
}

input{
    font-size: 16px;
    padding: 20px 119px 20px 20px;
    border-radius: 5px;
    margin-right: 0px;
    border-width: 0.5px;
    border-color: #f6f6f6;
    font-weight: 700;
}

aside article p label{
    padding: 15px;
}

p > input{
    display: block;
}

button{
    border: 0px;
    width: 97.5%;
    font-size: 16px;
    padding: 20px;
    background: #37cc8a;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #3bb37e;
    margin: 10px;
    color: white;
}

h3{
    text-align: center;
    font-size: 11px;
    color: #e4e2eb;
}
a{
    color: #FF7A78;
    text-decoration: none;
}

footer{
    clear: both;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
